
<div id="menu">
    <ul>
        <li><a href="/home" class="first">Home</a></li>
        <li class="current_page_item"><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>
